body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
nav {
    background-color: rgb(255, 255, 255);
}
.main_header {
    display: flex;
    justify-content: space-between;
}
.main_header a {
    color: rgb(48,76,90);
    margin-left: 50px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    list-style: none;
    display: flex;
    flex: 0.5;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
    font-weight: bold;
    margin-right: 50px;
}
ul li a {
    text-decoration: none;
    color:  rgb(48,76,90);
    margin: 0px 10px;
    
}
ul li a:hover {
    text-decoration: underline;
}
.main_content {
    background: url(../img/istockphoto-1227055333-170667a.jpg);
    min-height: 650px;
    width: 100%;
    background-size: cover;
}
.main_content2 {
    min-height: 650px;
    width: 100%;
    background: rgba(0, 0, 0, 0.562);
}
.banner_text1 h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5em;
    color: #ffffff;
    text-align: center;
    padding-left: 70px;
    margin: 200px 0px 0px 0px;
}
.banner_text1 p{
    font-size: 20px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
}
.banner_text2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(197,115,44);
    border: 1px solid rgb(197,115,44);
    border-radius: 10px;
    margin: 0px 0px;
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: 20px;
}
footer h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer a {
    margin: 20px 10px 40px 50px;
    color: rgb(48,76,90);
    text-decoration: none;
}
.sign-up-content {
    margin: auto;
    width: 27%;
    height: 650px;
}
label {
    border: 1px solid  rgb(197,115,44);
    border-radius: 10px;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 115, 44);
    /* box-shadow: 2px 2px 2px 2px gray; */
}
input {
    border: 1px solid  rgb(201, 112, 34);
    border-radius: 10px;
    padding: 5px 10px 5px 20px;
}
select {
    border: 1px solid  rgb(201, 112, 34);
    border-radius: 10px;
    padding: 5px 10px 5px 20px;
}
.labels {
    margin-top: 50px;
}
.labels1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sign-up-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.nav2 {
    box-shadow: 5px 5px 5px 5px gray;
}
.sign-in-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sign-in-content {
    margin: auto;
    width: 28%;
    height: 650px;
}
.user-info {
    margin-top: 90px;
}
.create-button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.create-account-content {
    background-image: url(../img/Living-room.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
}
.background-image {
    min-height: 650px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
}
.user-labels {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 28%;
}
.user-labels1 {
    margin-top: 80px;
}